{{ partial "header.html" . }}
{{ $paginator := .Paginate (.Data.Pages.GroupByParam "geo") 1000 }}
{{ range $paginator.PageGroups }}
<!-- <h2>{{ .Key }}</h2> -->
<ul class="list-group mb-3">

    <a class="list-group-item list-group-item-action justify-content-between" data-toggle="collapse" data-parent="#accordion" href="#collapse{{ .Key | urlize }}" aria-expanded="true" aria-controls="collapse{{ .Key | urlize }}">{{ .Key }}<span class="badge badge-default badge-pill">{{ .Pages | len }}</span></a>


  <div id="collapse{{ .Key | urlize }}" class="collapse">
    {{ range .Pages }}
    <a class="list-group-item list-group-item-action" href="{{ .Permalink }}">{{ .Title }}</a>
    {{ end }}
  </div>
</ul>
{{ end }}
{{ partial "footer.html" . }}
