<h3>Menu</h3>
<nav class="nav nav-pills flex-column">
{{ $currentPage := . }}
{{ range .Site.Menus.main }}
  {{ if .HasChildren }}
    <a href="javascript:;" class="nav-link">{{ .Pre }}<span>{{ .Name }}</span><span class="menu-arrow arrow_carrot-right"></span></a>
    <ul class="sub">
      {{ range .Children }}
      <a class="nav-link{{if $currentPage.IsMenuCurrent "main" . }} active{{end}}" href="{{.URL}}">{{ .Name }}</a>
      {{ end }}
    </ul>
  {{else}}
    <a class="nav-link{{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }} active{{end}}" href="{{ .URL }}">{{ .Pre }}{{ .Name }}</a>
  {{end}}
{{end}}
</nav>
